<!-- Шаблон страницы входа. -->
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Pinpy">
    <meta name="description" content="Сайт для сохранения заметок, написанный с помощью фреймворка Django.">
    <meta name="keywords" content="Django, Python, HTML, CSS, JS, Bootstrap, notes, site, сайт, заметки, записи">
    <meta name="author" content="Aslan Pshukov">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link type="image/x-icon" href="{% static 'notes/images/Logo1.svg' %}" rel="shortcut icon"/>


    <!-- Bootstrap core CSS -->
<link type="text/css" href="{% static 'notes/css/styles.css' %}" rel="stylesheet" />

    <style>
      .form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
    </style>

    <!-- Custom styles for this template -->
    <link type="text/css" href="{% static 'notes/css/sign_in.css' %}" rel="stylesheet" />
  </head>
  <body class="text-center">

<main class="form-signin">
<form action="{% url 'sign_in' %}" method="post">
  {% csrf_token %}
  <form>
    <img src="{% static 'notes/images/Logo.svg' %}" alt="Logo" width="41" height="41">
    <h1 class="h3 mb-3 fw-normal">Вход Pinpy</h1>

    <div class="form-error">{{ form.non_field_errors }}</div>


      <div class="form-floating">
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}">{{form.username.label}}: </label>
        <div class="form-error">{{ form.username.errors }}</div>
      </div>
      <div class="form-floating">
        {{ form.password }}
        <label for="{{ form.password.id_for_label }}">{{form.password.label}}: </label>
        <div class="form-error">{{ form.password.errors }}</div>
      </div>


    <div class="checkbox mb-3">
      <label>
        {{ form.remember_me }} Запомнить меня
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
  </form>
</form>
</main>


  </body>
</html>
